<ion-content [fullscreen]="true" class="level1-question1">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-1"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
    />
    
    <p class="button" id="title">Level 1-1</p>
    <div class="button" id="question-cont">
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <sup>48ab</sup>&frasl;<sub>84b<sup>2</sup></sub>
      </p>
    </div>

    <!-- Answer Choices -->
    <button
      class="button"
      id="choice-1"
      [ngClass]="getClass('choice-1')"
      (click)="selectAnswer('choice-1')">
      <i><sup>8a</sup>&frasl;<sub>14b</sub></i>
    </button>

    <button
      class="button"
      id="choice-2"
      [ngClass]="getClass('choice-2')"
      (click)="selectAnswer('choice-2')">
      <i><sup>16a</sup>&frasl;<sub>28b</sub></i>
    </button>

    <button
      class="button"
      id="choice-3"
      [ngClass]="getClass('choice-3')"
      (click)="selectAnswer('choice-3')">
      <i><sup>4a</sup>&frasl;<sub>7b</sub></i>
    </button>

    <button
      class="button"
      id="choice-4"
      [ngClass]="getClass('choice-4')"
      (click)="selectAnswer('choice-4')">
      <i><sup>12a</sup>&frasl;<sub>21b</sub></i>
    </button>

    <ion-button id="submit" (click)="submitAnswer()">
      <audio #correctAudio src="/Client-AlgebraQuest/src/assets/AlgebraQuest_Asset/">Submit</audio></ion-button>
  </div>
</ion-content>
