<ion-content [fullscreen]="true" class="level1-question1">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-1"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
    />
    <p class="button" id="title">Level 1-6</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <sup>2x<sup>3</sup> + 3x<sup>2</sup> - 14x</sup>&frasl;<sub>x<sup>2</sup>y + 7xy - 18y</sub>
      </p>
    </div>


    <button class="button" id="choice-1"
    [ngClass]="{'selected': selectedAnswer === 'choice-1', 'correct': correctAnswer === 'choice-1'}"
      (click)="selectAnswer('choice-1')">
      <i><sup>2x(x<sup> 2</sup> + 3x - 7)</sup>&frasl;<sub>y(x + 2)</sub></i>
    </button>
    <button class="button" id="choice-2"
    [ngClass]="{'selected': selectedAnswer === 'choice-2', 'correct': correctAnswer === 'choice-2'}"
      (click)="selectAnswer('choice-2')">
      <i><sup>2x(x<sup> 2</sup> + 3x - 7)</sup>&frasl;<sub>y(x - 2)</sub></i>
    </button>
    <button class="button" id="choice-3"
    [ngClass]="{'selected': selectedAnswer === 'choice-3', 'correct': correctAnswer === 'choice-3'}"
      (click)="selectAnswer('choice-3')">
      <i><sup>2x<sup> 2</sup> + 7x</sup>&frasl;<sub>xy + 9y</sub></i>
    </button>
    <button class="button" id="choice-4"
    [ngClass]="{'selected': selectedAnswer === 'choice-4', 'correct': correctAnswer === 'choice-4'}"
      (click)="selectAnswer('choice-4')">
      <i><sup>2x<sup> 2</sup> + 7x</sup>&frasl;<sub>xy - 9y</sub></i>
    </button>
    <ion-button id="submit" (click)="submitAnswer()">Submit</ion-button>
  </div>
</ion-content>
