<ion-content [fullscreen]="true" class="level1-question1">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-1"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 1-6</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">TRUE or FALSE</p>
      <br />
      <p class="button" id="sub-question">
        <span style="padding-right: 12px">is</span>

        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid black; display: block"> 4 </span>
          <span style="display: block"> yz </span>
        </span>
        <span id="arithmetic-operation"> - </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid black; display: block"> -9 </span>
          <span style="display: block"> yz </span>
        </span>
        <span id="arithmetic-operation"> = </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid black; display: block"> -5 </span>
          <span style="display: block"> yz </span>
        </span>
      </p>
    </div>

    <button
      class="button"
      id="choice-1"
      [ngClass]="{'selected': selectedAnswer === 'choice-1', 'correct': correctAnswer === 'choice-1'}"
      (click)="selectAnswer('choice-1')"
      (click)="choose_button()"
    >
      <span style="padding-right: 10px">TRUE</span>
    </button>
    <button
      class="button"
      id="choice-2"
      [ngClass]="{'selected': selectedAnswer === 'choice-2', 'correct': correctAnswer === 'choice-2'}"
      (click)="selectAnswer('choice-2')"
      (click)="choose_button()"
    >
      <span style="padding-right: 10px">FALSE</span>
    </button>
    <button class="button" id="submit" (click)="submitAnswer()" (click)="playButton()">
      Submit
    </button>
  </div>
</ion-content>
