
<ion-content [fullscreen]="true" class="level1-question1">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-1"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
    />
    <p class="button" id="title">Level 1-4</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <sup>20t + 50</sup>&frasl;<sub>15r<sup>2</sup> - 30</sub>
      </p>
    </div>
    <button class="button" id="choice-1">
      <i><sup>4(t + 20)</sup>&frasl;<sub>3(r<sup> 2</sup> - 2)</sub></i>
    </button>
    <button class="button" id="choice-2">
      <i><sup>4t + 10</sup>&frasl;<sub>3r<sup> 2</sup> - 6</sub></i>
    </button>
    <button class="button" id="choice-3">
      <i><sup>20t + 10</sup>&frasl;<sub>3r<sup> 2</sup> - 6</sub></i>
    </button>
    <button class="button" id="choice-4">
      <i><sup>10t + 2.5</sup>&frasl;<sub>5r<sup> 2</sup> - 2</sub></i>
    </button>
  </div>
</ion-content>
