<ion-content [fullscreen]="true" class="level2-question5">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-2"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 2-5</p>
    <div class="button" id="question-cont">
      <p class="button" id="question">Question</p>
      <br />
      <p class="button" id="sub-question">
        <sup>7x + 2y</sup>&frasl;<sub>xy</sub>
        <span id="arithmetic-operation"> - </span>
        <sup>-8x + 5y</sup>&frasl;<sub>xy</sub>
      </p>
    </div>

    <button
      class="button"
      id="choice-1"
      [ngClass]="getClass('choice-1')"
      (click)="selectAnswer('choice-1')"
      (click)="choose_button()" 
    >
      <sup>-x - 3</sup>&frasl;<sub>xy</sub>
    </button>

    <button
      class="button"
      id="choice-2"
      [ngClass]="getClass('choice-2')"
      (click)="selectAnswer('choice-2')"
      (click)="choose_button()"
    >
      <sup>-x + 7y</sup>&frasl;<sub>xy</sub>
    </button>

    <button
      class="button"
      id="choice-3"
      [ngClass]="getClass('choice-3')"
      (click)="selectAnswer('choice-3')"
      (click)="choose_button()"
    >
      <sup>15x + 7y</sup>&frasl;<sub>xy</sub>
    </button>

    <button
      class="button"
      id="choice-4"
      [ngClass]="getClass('choice-4')"
      (click)="selectAnswer('choice-4')"
      (click)="choose_button()"
    >
      <sup>15x - 3y</sup>&frasl;<sub>xy</sub>
    </button>

    <button class="button" id="submit" (click)="submitAnswer()">Submit</button>
  </div>
</ion-content>
