<ion-content [fullscreen]="true" class="level2-question5">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-2"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 2-5</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Question</p>
      <br />
      <p class="button" id="sub-question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block"> xy </span>
          <span style="display: block">z</span>
        </span>
        <span id="arithmetic-operation"> + </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block"> 7 </span>
          <span style="display: block">z</span>
        </span>
      </p>
    </div>

    <div class="button" id="simplify-cont">
      <p class="button" id="question">Answer</p>
      <br />
      <p class="button" id="sub-question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            <input [(ngModel)]="num1" class="blanks" id="num1" type="text" />
            <input [(ngModel)]="num2" class="blanks" id="num2" type="text" /> +
            <input [(ngModel)]="num3" class="blanks" id="num3" type="text" />
          </span>
          <span style="display: block">
            <input [(ngModel)]="num4" class="blanks" id="num4" type="text" />
          </span>
        </span>
      </p>
    </div>
    <p class="button" id="verify" (click)="checkAnswers()"  (click)="playButton()">Check Answers</p>
  </div>
</ion-content>
