<ion-content [fullscreen]="true" class="level1-question1">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-1"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
    />
    <p class="button" id="title">Level 1-9</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <sup>4m<sup>2</sup> - 16</sup>&frasl;<sub>m - 2</sub>
      </p>
    </div>
    <button class="button" id="choice-1">
      <i>8m + 8</i>
    </button>
    <button class="button" id="choice-2">
      <i>4m + 8</i>
    </button>
    <button class="button" id="choice-3">
      <i>m - 2</i>
    </button>
    <button class="button" id="choice-4">
      <i><sup>4m - 8</sup>&frasl;<sub>m - 2</sub></i>
    </button>
  </div>
</ion-content>
