<ion-content [fullscreen]="true" class="level1-question1">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-1"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 1-3</p> 
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <sup>5</sup>&frasl;<sub>x</sub>
        <span id="arithmetic-operation"> + </span>
        <sup>(-4)</sup>&frasl;<sub>x</sub>
      </p>
    </div>

    <button
      class="button"
      id="choice-1"
      [ngClass]="{'selected': selectedAnswer === 'choice-1', 'correct': correctAnswer === 'choice-1'}"
      (click)="selectAnswer('choice-1')"
      (click)="choose_button()"
    >
      -<sup>20</sup>&frasl;<sub>x</sub>
    </button>
    <button
      class="button"
      id="choice-2"
      [ngClass]="{'selected': selectedAnswer === 'choice-2', 'correct': correctAnswer === 'choice-2'}"
      (click)="selectAnswer('choice-2')"
      (click)="choose_button()"
    >
      <sup>-x</sup>
    </button>
    <button
      class="button"
      id="choice-3"
      [ngClass]="{'selected': selectedAnswer === 'choice-3', 'correct': correctAnswer === 'choice-3'}"
      (click)="selectAnswer('choice-3')"
      (click)="choose_button()"
    >
      <sup>1</sup>&frasl;<sub>x</sub>
    </button>
    <button
      class="button"
      id="choice-4"
      [ngClass]="{'selected': selectedAnswer === 'choice-4', 'correct': correctAnswer === 'choice-4'}"
      (click)="selectAnswer('choice-4')"
      (click)="choose_button()"
    >
      -<sup>1</sup>&frasl;<sub>x</sub>
    </button>
    <button class="button" id="submit" (click)="submitAnswer()" (click)="playButton()">
      Submit
    </button>
  </div>
</ion-content>
