<ion-content [fullscreen]="true" class="level1-question1">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-1"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
    />
    <p class="button" id="title">Level 1-3</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <sup>4i<sup>2</sup> - 12i</sup>&frasl;<sub>2i</sub>
      </p>
    </div>
    <button class="button" id="choice-1">
      <i><sup>2i</sup>&frasl;<sub> - 6</sub></i>
    </button>
    <button class="button" id="choice-2">
      <i><sup>2i</sup>&frasl;<sub>6i</sub></i>
    </button>
    <button class="button" id="choice-3">
      <i><sup>2i</sup>&frasl;<sub>6i<sup>2</sup></sub></i>
    </button>
    <button class="button" id="choice-4">
      <i><sup>2i<sup>2</sup></sup>&frasl;<sub>-6</sub></i>
    </button>
  </div>
</ion-content>
