@font-face {
  font-family: "Game-Over";
  src: url("../../../assets/font/game_over_2/Game\ Over.otf");
}

@font-face {
  font-family: "Good-Game";
  src: url("../../../assets/font/good_game/Good-Game.ttf");
}

.level1-question1{
  --background: url("../../../assets/AlgebraQuest_Asset/lvl1-question-bg.png") 0 0/ 100% 100% no-repeat;
}

.content-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#title {
  font-family: "Good-Game";
  font-size: 4rem;
  top: 8%;
  padding: 0;
  margin: 0;
  -webkit-text-stroke: 2px #000000;
}

#back-button {
  top: 2%;
  left: 2%;
}

#question-cont{
  width: 65%;
  height: 150px;
  background: linear-gradient( #F1E5BA, #F2C934, #F2C934);;
  top: 25%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#question-cont > p{
  margin: 0;
  font-family: "Good-Game";
  font-size: 3rem;
  -webkit-text-stroke: 1px #000000;
}

#question{
  top:10%;
}

#sub-question{
  top:55%;
}

#choice-1{
  top:50%;
}

#choice-2{
  top:60%;
}

#choice-3{
  top:70%;
}

#choice-4{
  top:80%;
}

#choice-1, #choice-2, #choice-3, #choice-4{
  width: 40%;
  height: 60px;
  background:linear-gradient( #F1E5BA, #F2C934);
  color:#ffffff;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Good-Game";
  -webkit-text-stroke: 1px #000000;
  font-size: 1.9rem;
}