<ion-content [fullscreen]="true" class="level3-question1">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-3"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
    />
    <p class="button" id="title">Level 3-1</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Question</p>
      <br />
      <p class="button" id="sub-question">
        <sup>3x + 1</sup>&frasl;<sub>x + 3</sub>
        <span id="arithmetic-operation"> + </span>
        <sup>2</sup>&frasl;<sub>x + 3</sub>
      </p>
    </div>

    <div class="button" id="simplify-cont"></div>
    <div class="button" id="answer-cont"></div>
  </div>
</ion-content>
