<ion-content [fullscreen]="true" class="level3-question2">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-3"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 3-2</p>
    <div class="button" id="question-cont">
      <p class="button" id="question">Question</p>
      <br />
      <p class="button" id="sub-question">
        <!--<sup>x<sup>2</sup> + 2x - 5</sup>&frasl;<sub>5 + y</sub>
        <span id="arithmetic-operation"> + </span>
        <sup>x<sup>2</sup> - 3x + 2</sup>&frasl;<sub>5 + y</sub>-->

        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid black; display: block">
            x<sup>2</sup> + 2x - 5
          </span>
          <span style="display: block"> 5 + y </span>
        </span>
        <span id="arithmetic-operation"> + </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid black; display: block">
            x<sup>2</sup> - 3x + 2
          </span>
          <span style="display: block"> 5 + y </span>
        </span>
      </p>
    </div>
    <button
      class="button"
      id="choice-1"
      [ngClass]="getClass('choice-1')"
      (click)="selectAnswer('choice-1')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block"> 5x - 3 </span>
        <span style="display: block"> 5 + y </span>
      </span>
    </button>

    <button
      class="button"
      id="choice-2"
      [ngClass]="getClass('choice-2')"
      (click)="selectAnswer('choice-2')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block"> 5x - 7 </span>
        <span style="display: block"> 5 + y </span>
      </span>
    </button>

    <button
      class="button"
      id="choice-3"
      [ngClass]="getClass('choice-3')"
      (click)="selectAnswer('choice-3')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block"> -2x - 7 </span>
        <span style="display: block"> 5 + y </span>
      </span>
    </button>

    <button
      class="button"
      id="choice-4"
      [ngClass]="getClass('choice-4')"
      (click)="selectAnswer('choice-4')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block"> x - 7 </span>
        <span style="display: block"> 5 + y </span>
      </span>
    </button>

    <button class="button" id="submit" (click)="submitAnswer()">Submit</button>
  </div>
</ion-content>
