<ion-content [fullscreen]="true" class="level3-question6">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-3"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 3-6</p>
    <div class="button" id="question-cont">
      <p class="button" id="question">TRUE or FALSE:</p>
      <br />
      <p class="button" id="is" style="padding-right: 5px">is</p>
      <br />
      <p class="button" id="sub-question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid black; display: block"> 3y<sup>2</sup> - y </span>
          <span style="display: block"> 3y </span>
        </span>
        <span id="arithmetic-operation"> - </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid black; display: block"> 5y </span>
          <span style="display: block"> 3y </span>
        </span>
        <span id="arithmetic-operation"> = </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid black; display: block"> 3y<sup>2</sup> - 6y </span>
          <span style="display: block"> 3y </span>
        </span>
      </p>
    </div>

    <button
      class="button"
      id="choice-1"
      [ngClass]="getClass('choice-1')"
      (click)="selectAnswer('choice-1')"
      (click)="choose_button()"
    >
      <span style="padding-right: 10px">TRUE</span>
    </button>

    <button
      class="button"
      id="choice-2"
      [ngClass]="getClass('choice-2')"
      (click)="selectAnswer('choice-2')"
      (click)="choose_button()"
    >
      <span style="padding-right: 10px">FALSE</span>
    </button>

    <button class="button" id="submit" (click)="submitAnswer()">Submit</button>
  </div>
</ion-content>
