@font-face {
  font-family: "Game-Over";
  src: url("../../../assets/font/game_over_2/Game\ Over.otf");
}

@font-face {
  font-family: "Good-Game";
  src: url("../../../assets/font/good_game/Good-Game.ttf");
}

.level2-question6{
  --background: url("../../../assets/AlgebraQuest_Asset/lvl2-question-bg.png") 0 0/ 100% 100% no-repeat;
}

.content-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#title {
  font-family: "Good-Game";
  font-size: 4rem;
  top: 8%;
  padding: 0;
  margin: 0;
  -webkit-text-stroke: 2px #000000;
}

#back-button {
  top: 2%;
  left: 2%;
}

#arithmetic-operation {
  padding: 0px 12px 0px 12px;
  font-size: 3rem;
  color: #51DD4E;
}

#question-cont {
  width: 75%;
  height: 120px;
  background: linear-gradient(#6ba1b8, #40AFDE, #40AFDE);
  top: 22%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#question {
  top: 5%;
  color: #51DD4E;
  margin: 0;
  font-family: "Good-Game";
  font-size: 2rem;
  -webkit-text-stroke: 1px #000000;
}

#sub-question {
  margin: 0;
  font-family: "Good-Game";
  font-size: 2rem;
  -webkit-text-stroke: 1px #000000;
  top: 35%;
}

#simplify-cont {
  background: linear-gradient(#6ba1b8, #40AFDE, #40AFDE);
}

#answer-cont {
  background: linear-gradient(#6ba1b8, #40AFDE, #40AFDE);
}

#simplify-cont {
  width: 75%;
  height: 120px;
  background: linear-gradient(#6ba1b8, #40AFDE, #40AFDE);
  top: 42%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#answer-cont {
  width: 75%;
  height: 120px;
  background: linear-gradient(#6ba1b8, #40AFDE, #40AFDE);
  top: 62%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blanks {
  width: 23px;
  height: 30px;
  border-radius: 5px;
  border: #00000060 2px solid;
  background: #363535;
  text-align: center;
}

#verify {
  top: 65%;
  width: 40%;
  height: 45px;
  background: linear-gradient(#68e166, #45d143, #51DD4E);
  border-radius: 15px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Good-Game";
  font-size: 1.4rem;
  -webkit-text-stroke: 1px #000000;
}