<ion-content [fullscreen]="true" class="level2-question6">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-2"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
    />
    <p class="button" id="title">Level 2-6</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Question</p>
      <br />
      <p class="button" id="sub-question">
        <sup>xy</sup>&frasl;<sub>z</sub>
        <span id="arithmetic-operation"> + </span>
        <sup>x + 3</sup>&frasl;<sub>z</sub>
      </p>
    </div>

    <div class="button" id="simplify-cont">
      <p class="button" id="simplify-question">
        <sup>
          <input [(ngModel)]="num1" class="blanks" id="num1" type="text" />
          <input [(ngModel)]="num2" class="blanks" id="num2" type="text" /> -
          <input [(ngModel)]="num3" class="blanks" id="num3" type="text" /> -
          <input
            [(ngModel)]="num4"
            class="blanks"
            id="num4"
            type="text"
          /> </sup
        >&frasl;
        <sub>
          <input [(ngModel)]="num5" class="blanks" id="num5" type="text" />
        </sub>
      </p>
    </div>
    <p class="button" id="verify" (click)="checkAnswers()">Check Answers</p>
  </div>
</ion-content>
