<ion-content [fullscreen]="true" class="level3-page">
  <div class="button-container">
    <img
      class="button"
      id="back-button"
      routerLink="/landing-page"
      src="../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <img
      class="button"
      id="tutorial-button"
      routerLink="/tutorial3"
      (click)="playButton(); revisitTutorial()"
      src="../../assets/AlgebraQuest_Asset/Group 136.png"
    />
    <p class="button" id="title">Level 3</p>

    <ng-container *ngFor="let imageSrc of currentImageSrcs; let i = index">
      <button
        class="button"
        [id]="'button' + (i + 1)"
        [routerLink]="buttonStates[i] ? '/question3-' + (i + 1) : null"        
        [disabled]="!buttonStates[i]"
        (click)="buttonStates[i] && playButton(); changeImage($event, i + 1)"
      >
        <img
          [src]="imageSrc"
          [class.disabled]="!buttonStates[i]"
        />
      </button>
    </ng-container>
  </div>
</ion-content>
