<ion-content [fullscreen]="true" class="level3-page">
  <div class="button-container">
    <img
      class="button"
      id="back-button"
      routerLink="/landing-page"
      src="../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 3</p>

    <img
      (click)="changeImage($event, 1)"
      [src]="imageSrc1"
      class="button"
      routerLink="/question3-1"
      id="button1"
      (click)="playButton()"
    />
    <img
      (click)="changeImage($event, 2)"
      [src]="imageSrc2"
      class="button"
      routerLink="/question3-2"
      id="button2"
      (click)="playButton()"
    />
    <img
      (click)="changeImage($event, 3)"
      [src]="imageSrc3"
      class="button"
      routerLink="/question3-3"
      id="button3"
      (click)="playButton()"
    />
    <img
      (click)="changeImage($event, 4)"
      [src]="imageSrc4"
      class="button"
      routerLink="/question3-4"
      id="button4"
      (click)="playButton()"
    />
    <img
      (click)="changeImage($event, 5)"
      [src]="imageSrc5"
      class="button"
      routerLink="/question3-5"
      id="button5"
      (click)="playButton()"
    />
    <img
      (click)="changeImage($event, 6)"
      [src]="imageSrc6"
      class="button"
      routerLink="/question3-6"
      id="button6"
      (click)="playButton()"
    />
    <img
      (click)="changeImage($event, 7)"
      [src]="imageSrc7"
      class="button"
      routerLink="/question3-7"
      id="button7"
      (click)="playButton()"
    />
    <img
      (click)="changeImage($event, 8)"
      [src]="imageSrc8"
      class="button"
      routerLink="/question3-8"
      id="button8"
      (click)="playButton()"
    />
    <img
      (click)="changeImage($event, 9)"
      [src]="imageSrc9"
      class="button"
      routerLink="/question3-9"
      id="button9"
      (click)="playButton()"
    />
    <img
      (click)="changeImage($event, 10)"
      [src]="imageSrc10"
      class="button"
      routerLink="/question3-10"
      id="button10"
      (click)="playButton()"
    />
  <div id="tutorial-popup" class="tutorial-popup" *ngIf="showTutorial">
      <div class="speech-bubble">
        <p>Welcome to Level 1! Here’s what you need to know...</p>
        </div>
        <div class="nextbutton"> 
        <button 
        id="next-button" 
        (click)="closeTutorial()" 
        routerLink="/tutorial1-page" s>Next</button>
        </div>
        <img src="../../assets/AlgebraQuest_Asset/prof.png" class="character-img" />
      </div>
    </div>


  <div class="tutorial-button-container">
    <img
      class="button"
      id="tutorial-button"
      src="../../assets/AlgebraQuest_Asset/btn.png"
      alt="Show Tutorial"
      (click)="openTutorial()"
    />
  </div>
</ion-content>
