<ion-content [fullscreen]="true" class="level2-question7">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-2"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 2-7</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Question</p>
      <br />
      <p class="button" id="sub-question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block; margin-bottom: 5px">
            (x + 1)(x - 1)
          </span>
          <span style="display: block"> x<sup>2</sup> + 2x + 1 </span>
        </span>
        <span id="arithmetic-operation"> + </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block; margin-bottom: 5px">
            (x - 1)
          </span>
          <span style="display: block"> x<sup>2</sup> + 2x + 1 </span>
        </span>
      </p>
    </div>

    <div class="button" id="simplify-cont">
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block; margin-bottom: 5px">
            (<input [(ngModel)]="num1" class="blanks" id="num1" type="text" /> +
            <input [(ngModel)]="num2" class="blanks" id="num2" type="text" />) (<input
              [(ngModel)]="num3"
              class="blanks"
              id="num3"
              type="text"
            />
            - <input [(ngModel)]="num4" class="blanks" id="num4" type="text" />) + (<input
              [(ngModel)]="num5"
              class="blanks"
              id="num5"
              type="text"
            />
            -
            <input [(ngModel)]="num6" class="blanks" id="num6" type="text" />)
          </span>
          <span style="display: block">
            <input [(ngModel)]="num7" class="blanks" id="num7" type="text" /> <sup>2</sup> +
            <input [(ngModel)]="num8" class="blanks" id="num8" type="text" />x +
            <input [(ngModel)]="num9" class="blanks" id="num9" type="text" />
          </span>
        </span>
      </p>
    </div>

    <div class="button" id="simplify2-cont">
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block; margin-bottom: 5px">
            (<input [(ngModel)]="num10" class="blanks" id="num10" type="text" /> +
            <input [(ngModel)]="num11" class="blanks" id="num11" type="text" />) (<input
              [(ngModel)]="num12"
              class="blanks"
              id="num12"
              type="text"
            />
            - <input [(ngModel)]="num13" class="blanks" id="num13" type="text" />) + (<input
              [(ngModel)]="num14"
              class="blanks"
              id="num14"
              type="text"
            />
            -
            <input [(ngModel)]="ans1" class="blanks" id="ans1" type="text" />)
          </span>
          <span style="display: block">
            (<input [(ngModel)]="ans2" class="blanks" id="ans2" type="text" /> +
            <input [(ngModel)]="ans3" class="blanks" id="ans3" type="text" />)<sup>2</sup>
          </span>
        </span>
      </p>
    </div>

    <div class="button" id="simplify3-cont">
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block; margin-bottom: 5px">
            (<input [(ngModel)]="ans4" class="blanks" id="ans4" type="text" /> +
            <input [(ngModel)]="ans5" class="blanks" id="ans5" type="text" />) + (<input
              [(ngModel)]="ans6"
              class="blanks"
              id="ans6"
              type="text"
            />
            -
            <input [(ngModel)]="ans7" class="blanks" id="ans7" type="text" />)
          </span>
          <span style="display: block">
            (<input [(ngModel)]="ans8" class="blanks" id="ans8" type="text" /> +
            <input [(ngModel)]="ans9" class="blanks" id="ans9" type="text" />)<sup>2</sup>
          </span>
        </span>
      </p>
    </div>

    <div class="button" id="answer-cont">
      <p class="button" id="question">Answer</p>
      <p class="button" id="sub-question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block; margin-bottom: 5px">
            <input [(ngModel)]="ans10" class="blanks" id="ans10" type="text" />x -
            <input [(ngModel)]="ans11" class="blanks" id="ans11" type="text" />
          </span>
          <span style="display: block">
            <input [(ngModel)]="ans12" class="blanks" id="ans12" type="text" /> +
            <input [(ngModel)]="ans13" class="blanks" id="ans13" type="text" />
          </span>
        </span>
      </p>
    </div>
    <p class="button" id="verify" (click)="checkAnswers()">Check Answers</p>
    <div class="button" id="filler"></div>
  </div>
</ion-content>
