<ion-content [fullscreen]="true" class="level2-question7">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-2"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 2-7</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Question</p>
      <br />
      <p class="button" id="sub-question">
        <span>
          What is the first step in adding and subtracting rational algebraic expressions with like
          denominators?
        </span>
      </p>
    </div>

    <button
      class="button"
      id="choice-1"
      [ngClass]="{'selected': selectedAnswer === 'choice-1', 'correct': correctAnswer === 'choice-1'}"
      (click)="selectAnswer('choice-1')"
    >
      <span style="display: inline-block; text-align: center">
        A. Add or subtract the numerators
      </span>
    </button>
    <button
      class="button"
      id="choice-2"
      [ngClass]="{'selected': selectedAnswer === 'choice-2', 'correct': correctAnswer === 'choice-2'}"
      (click)="selectAnswer('choice-2')"
    >
      <span style="display: inline-block; text-align: center"> B. Simplify the result </span>
    </button>
    <button
      class="button"
      id="choice-3"
      [ngClass]="{'selected': selectedAnswer === 'choice-3', 'correct': correctAnswer === 'choice-3'}"
      (click)="selectAnswer('choice-3')"
    >
      <span style="display: inline-block; text-align: center">
        C. Copy the common denominator
      </span>
    </button>
    <button
      class="button"
      id="choice-4"
      [ngClass]="{'selected': selectedAnswer === 'choice-4', 'correct': correctAnswer === 'choice-4'}"
      (click)="selectAnswer('choice-4')"
    >
      <span style="display: inline-block; text-align: center">
        D. Cancel out the common factor
      </span>
    </button>
    <button class="button" id="submit" (click)="submitAnswer()" (click)="playButton()">
      Submit
    </button>
  </div>
</ion-content>
