<ion-content [fullscreen]="true" class="main-page">
  <section class="HomePage-button-container">
    <img
      class="button"
      id="back-button"
      routerLink="/landing-page"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <div class="button-container">
      <button
        id="button-1"
        (click)=" revisitTutorial('tutorial1')"
        (click)="playButton()"
      >
        Tutorial 1
      </button>
      <button
        id="button-2"
        (click)="revisitTutorial('tutorial2')"
        (click)="playButton()"
      >
        Tutorial 2
      </button>
      <button
        id="button-3"
        (click)="revisitTutorial('tutorial3')"
        (click)="playButton()"
      >
        Tutorial 3
      </button>
    </div>
  </section>
</ion-content>
