<ion-content [fullscreen]="true" class="level1-page">
  <div class="button-container">
    <img
      class="button"
      id="back-button"
      routerLink="/landing-page"
      src="../../assets/AlgebraQuest_Asset/back btn (1).png"
    />
    <p class="button" id="title">Level 2</p>
    <img
      class="button"
      routerLink="/question2-1"
      id="button1"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl2-buttons/2 (1).png"
    />
    <img
      class="button"
      routerLink="/question2-2"
      id="button2"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl2-buttons/2-1 (1).png"
    />
    <img
      class="button"
      routerLink="/question2-3"
      id="button3"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl2-buttons/2-2 (1).png"
    />
    <img
      class="button"
      routerLink="/question2-4"
      id="button4"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl2-buttons/2-3 (1).png"
    />
    <img
      class="button"
      routerLink="/question2-5"
      id="button5"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl2-buttons/2-4 (1).png"
    />
    <img
      class="button"
      routerLink="/question2-6"
      id="button6"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl2-buttons/2-5 (1).png"
    />
    <img
      class="button"
      routerLink="/question2-7"
      id="button7"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl2-buttons/2-6 (1).png"
    />
    <img
      class="button"
      routerLink="/question2-8"
      id="button8"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl2-buttons/2-7 (1).png"
    />
    <img
      class="button"
      routerLink="/question2-9"
      id="button9"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl2-buttons/2-8 (1).png"
    />
    <img
      class="button"
      routerLink="/question2-10"
      id="button10"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl2-buttons/2-9 (1).png"
    />
  </div>
</ion-content>
