<ion-content [fullscreen]="true" class="main-page">
  <audio id="background-music" autoplay>
    <source src="assets\audio\you-win.mp3" type="audio/mpeg" />
  </audio>
  <div class="final-score-container">
    <h1>Congratulations!</h1>
    <p>Your final score is: {{ finalScore }}</p>
    <button (click)="resetGame()" routerLink="/landing-page" (click)="playButton()">
      Play Again
    </button>
    <button routerLink="/landing-page" (click)="playButton()" (click)="resetGame()">
      Next Level
    </button>
  </div>
</ion-content>
