@font-face {
  font-family: "Game-Over";
  src: url("../../../assets/font/game_over_2/Game\ Over.otf");
}

@font-face {
  font-family: "Good-Game";
  src: url("../../../assets/font/good_game/Good-Game.ttf");
}

.main-page {
  --background: url("../../../assets/AlgebraQuest_Asset/Android\ Large\ -\ 35.png") 0 0/ 100% 100% no-repeat;
  //background-position: 0 0;
  //background-size: 100% 100%;
  //background-repeat: no-repeat;
}

.HomePage-button-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#back-button {
  top: 2%;
  left: 2%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

video{
  top:35%;
  box-shadow: 2px 4px 3px #363535;
}

p{
  top:15%;
}

p {
  color: #FFFFFF;
  font-family: "Good-Game";
  font-size: 3.5rem;
  text-align: center;
  -webkit-text-stroke: 1px #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#play-button{
  top:70%;
  width: 53%;
  height: 10%;
  background: linear-gradient(#40AFDE, #59afd4, #c7d0d5);
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 3px #5e5c5c;
  border-radius: 25px;
  font-family: "Good-Game";
  -webkit-text-stroke: 0.5px #000;
  font-size: 1.5rem;
}