<ion-content [fullscreen]="true" class="level2-question4">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-2"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 2-4</p>
    <div class="button" id="question-cont">
      <p class="button" id="question">Question</p>
      <br />
      <p class="button" id="sub-question">
        <span>
          Subtract
          <span style="font-size: 1rem">
            <span style="display: inline-block; text-align: center">
              <span style="border-bottom: 3px solid black; display: block"> 6x </span>
              <span style="display: block"> x - 2 </span>
            </span>
          </span>
          from
          <span style="font-size: 1rem">
            <span style="display: inline-block; text-align: center">
              <span style="border-bottom: 3px solid black; display: block"> 10x + 1 </span>
              <span style="display: block"> x - 2 </span>
            </span>
          </span>
        </span>
      </p>
    </div>

    <button
      class="button"
      id="choice-1"
      [ngClass]="getClass('choice-1')"
      (click)="selectAnswer('choice-1')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block"> -4x - 1 </span>
        <span style="display: block"> x - 2 </span>
      </span>
    </button>

    <button
      class="button"
      id="choice-2"
      [ngClass]="getClass('choice-2')"
      (click)="selectAnswer('choice-2')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block"> -4x + 1 </span>
        <span style="display: block"> x - 2 </span>
      </span>
    </button>

    <button
      class="button"
      id="choice-3"
      [ngClass]="getClass('choice-3')"
      (click)="selectAnswer('choice-3')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block"> 4x - 1 </span>
        <span style="display: block"> x - 2 </span>
      </span>
    </button>

    <button
      class="button"
      id="choice-4"
      [ngClass]="getClass('choice-4')"
      (click)="selectAnswer('choice-4')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block"> 4x + 1 </span>
        <span style="display: block"> x - 2 </span>
      </span>
    </button>

    <button class="button" id="submit" (click)="submitAnswer()">Submit</button>
  </div>
</ion-content>
