<ion-content [fullscreen]="true" class="level1-question1">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-1"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
    />
    <p class="button" id="title">Level 1-8</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <sup>2x<sup> 2</sup> - 5x - 42</sup>&frasl;<sub>-2x<sup> 2</sup> + 15x - 18</sub>
      </p>
    </div>
    <button class="button" id="choice-1">
      <i><sup>2x + 7</sup>&frasl;<sub>3 - 2x</sub></i>
    </button>
    <button class="button" id="choice-2">
      <i><sup>2x + 7</sup>&frasl;<sub>2x - 3</sub></i>
    </button>
    <button class="button" id="choice-3">
      <i><sup>2x - 7</sup>&frasl;<sub>3 + 2x</sub></i>
    </button>
    <button class="button" id="choice-4">
      <i><sup>7x - 2</sup>&frasl;<sub>2x - 3</sub></i>
    </button>
  </div>
</ion-content>
