<ion-content [fullscreen]="true" class="level3-question3">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-3"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 3-3</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Question</p>
      <br />
      <p class="button" id="sub-question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid black; display: block; padding-bottom: 3px">
            y<sup>2</sup> + x<sup>2</sup>
          </span>
          <span style="display: block"> 2x + y </span>
        </span>
        <span id="arithmetic-operation"> + </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid black; display: block; padding-bottom: 3px">
            x<sup>2</sup> + 1
          </span>
          <span style="display: block"> 2x + y </span>
        </span>
      </p>
    </div>

    <button
      class="button"
      id="choice-1"
      [ngClass]="getClass('choice-1')"
      (click)="selectAnswer('choice-1')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block; padding-bottom: 3px">
          2x<sup>2</sup> + y<sup>2</sup> + 1
        </span>
        <span style="display: block"> 2x + y </span>
      </span>
    </button>

    <button
      class="button"
      id="choice-2"
      [ngClass]="getClass('choice-2')"
      (click)="selectAnswer('choice-2')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block; padding-bottom: 3px">
          x<sup>2</sup> + y<sup>2</sup> + 1
        </span>
        <span style="display: block"> 2x + y </span>
      </span>
    </button>

    <button
      class="button"
      id="choice-3"
      [ngClass]="getClass('choice-3')"
      (click)="selectAnswer('choice-3')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block; padding-bottom: 3px">
          2x<sup>4</sup> + y<sup>2</sup> + 1
        </span>
        <span style="display: block"> 2x + y </span>
      </span>
    </button>

    <button
      class="button"
      id="choice-4"
      [ngClass]="getClass('choice-4')"
      (click)="selectAnswer('choice-4')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        <span style="border-bottom: 3px solid black; display: block; padding-bottom: 3px">
          x<sup>4</sup> + y<sup>2</sup> + 1
        </span>
        <span style="display: block"> 2x + y </span>
      </span>
    </button>

    <button class="button" id="submit" (click)="submitAnswer()">Submit</button>
  </div>
</ion-content>
