<ion-content [fullscreen]="true" class="level2-question8">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-2"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
    />
    <p class="button" id="title">Level 2-8</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Question</p>
      <br />
      <p class="button" id="sub-question">
        <sup>3x<sup>2</sup> + 2y - 3z<sup>2</sup></sup
        >&frasl;<sub>ab<sup>2</sup></sub>
        <span id="arithmetic-operation"> - </span>
        <sup>2x - 3y + 4z<sup>2</sup></sup
        >&frasl;<sub>ab<sup>2</sup></sub>
      </p>
    </div>

    <div class="button" id="simplify-cont">
      <p class="button" id="simplify-question">
        <sup>
          <input [(ngModel)]="num1" class="blanks" id="num1" type="text" />x<sup
            >2</sup
          >
          +<input [(ngModel)]="num2" class="blanks" id="num2" type="text" />y-
          <input [(ngModel)]="num3" class="blanks" id="num3" type="text" />z<sup
            >2</sup
          >
          - <input [(ngModel)]="num4" class="blanks" id="num4" type="text" />x-
          <input [(ngModel)]="num5" class="blanks" id="num5" type="text" />y+
          <input [(ngModel)]="num6" class="blanks" id="num6" type="text" />z<sup
            >2</sup
          > </sup
        >&frasl;
        <sub>
          <input [(ngModel)]="num7" class="blanks" id="num7" type="text" />
          <input [(ngModel)]="num8" class="blanks" id="num8" type="text" /><sup
            >2</sup
          >
        </sub>
      </p>
    </div>

    <div class="button" id="answer-cont">
      <p class="button" id="answer">Answer</p>
      <p class="button" id="answer-question">
        <sup>
          <input [(ngModel)]="ans1" class="blanks" id="ans1" type="text" />x<sup
            >2</sup
          >
          -<input
            [(ngModel)]="ans2"
            class="blanks"
            id="ans2"
            type="text"
          />+<input
            [(ngModel)]="ans3"
            class="blanks"
            id="ans3"
            type="text"
          />z<sup>2</sup>
          -
          <input
            [(ngModel)]="ans4"
            class="blanks"
            id="ans4"
            type="text"
          />x</sup
        >&frasl;
        <sub>
          <input [(ngModel)]="ans5" class="blanks" id="ans5" type="text" />
          <input [(ngModel)]="ans6" class="blanks" id="ans6" type="text" /><sup
            >2</sup
          >
        </sub>
      </p>
    </div>
    <p class="button" id="verify" (click)="checkAnswers()">Check Answers</p>
  </div>
</ion-content>
