<ion-content [fullscreen]="true" class="level2-question10">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-2"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 2-10</p>
    <div class="button" id="question-cont">
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <span>
          <span style="display: inline-block; text-align: center">
            <span style="border-bottom: 3px solid black; display: block"> 3x + 25 </span>
            <span style="display: block"> y + 8 </span>
          </span>
          <span id="arithmetic-operation"> + </span>
          <span style="display: inline-block; text-align: center">
            <span style="border-bottom: 3px solid black; display: block"> </span>
            <span style="display: block"> y + 8 </span>
          </span>
          <span id="arithmetic-operation"> = </span>
          <span style="display: inline-block; text-align: center">
            <span style="border-bottom: 3px solid black; display: block"> 5x + 30 </span>
            <span style="display: block"> y + 8 </span> </span
          >, what is the missing numerator to make the solution correct?
        </span>
      </p>
    </div>
    <button
      class="button"
      id="choice-1"
      [ngClass]="{'selected': selectedAnswer === 'choice-1', 'correct': correctAnswer === 'choice-1'}"
      (click)="selectAnswer('choice-1')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">A. <span>2x - 2</span></span>
    </button>
    <button
      class="button"
      id="choice-2"
      [ngClass]="{'selected': selectedAnswer === 'choice-2', 'correct': correctAnswer === 'choice-2'}"
      (click)="selectAnswer('choice-2')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center"> B. <span>3x + 5</span> </span>
    </button>
    <button
      class="button"
      id="choice-3"
      [ngClass]="{'selected': selectedAnswer === 'choice-3', 'correct': correctAnswer === 'choice-3'}"
      (click)="selectAnswer('choice-3')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center"> C. <span>2x + 5</span> </span>
    </button>
    <button
      class="button"
      id="choice-4"
      [ngClass]="{'selected': selectedAnswer === 'choice-4', 'correct': correctAnswer === 'choice-4'}"
      (click)="selectAnswer('choice-4')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center"> D. <span>x + 25</span> </span>
    </button>
    <button class="button" id="submit" (click)="submitAnswer()" (click)="playButton()">
      Submit
    </button>
  </div>
</ion-content>
