<ion-content [fullscreen]="true" class="level2-question10">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-2"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 2-10</p>
    <div class="button" id="question-cont">
      <p class="button" id="question">Simplify</p>
      <br />
      <p class="button" id="sub-question">
        <span>
          <span style="font-size: 1.3rem"><sup>3x + 25</sup>&frasl;<sub>y + 8</sub></span> +
          <span style="font-size: 1.3rem"><sup>_</sup>&frasl;<sub>y + 8</sub></span> =
          <span style="font-size: 1.3rem"><sup>5x + 30</sup>&frasl;<sub>y + 8</sub>,</span> what is
          the missing numerator to make the solution correct?
        </span>
      </p>
    </div>
    <button
      class="button"
      id="choice-1"
      [ngClass]="{'selected': selectedAnswer === 'choice-1', 'correct': correctAnswer === 'choice-1'}"
      (click)="selectAnswer('choice-1')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        A. <sup>2x + 5</sup>&frasl;<sub>x + 8</sub>
      </span>
    </button>
    <button
      class="button"
      id="choice-2"
      [ngClass]="{'selected': selectedAnswer === 'choice-2', 'correct': correctAnswer === 'choice-2'}"
      (click)="selectAnswer('choice-2')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        B. <sup>2x + 5</sup>&frasl;<sub>x - 8</sub>
      </span>
    </button>
    <button
      class="button"
      id="choice-3"
      [ngClass]="{'selected': selectedAnswer === 'choice-3', 'correct': correctAnswer === 'choice-3'}"
      (click)="selectAnswer('choice-3')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        C. <sup>2x + 5</sup>&frasl;<sub>y + 8</sub>
      </span>
    </button>
    <button
      class="button"
      id="choice-4"
      [ngClass]="{'selected': selectedAnswer === 'choice-4', 'correct': correctAnswer === 'choice-4'}"
      (click)="selectAnswer('choice-4')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        D. <sup>2x + 5</sup>&frasl;<sub>y - 8</sub>
      </span>
    </button>
    <button class="button" id="submit" (click)="submitAnswer()" (click)="playButton()">
      Submit
    </button>
  </div>
</ion-content>
