<ion-content [fullscreen]="true" class="main-page">
  <section class="level-container">
    <div class="level-slider-container">
      <div class="level">
        <img
          routerLink="/level-1"
          id="slide-1"
          src="../../assets/AlgebraQuest_Asset/level 1 card (1).png"
          alt="level 1 card"
        />
        <img
          routerLink="/level-2"
          id="slide-2"
          src="../../assets/AlgebraQuest_Asset/level 2 card (1).png"
          alt="level 2 card"
        />
        <img
          routerLink="/level-3"
          id="slide-3"
          src="../../assets/AlgebraQuest_Asset/LEVEL 3 CARD (1).png"
          alt="level 3 card"
        />
        <div id="filler"></div>
      </div>
    </div>
  </section>
  <section class="HomePage-button-container">
    <div class="button-container">
      <button id="button-1">Play</button>
      <button id="button-2">Settings</button>
    </div>
  </section>
</ion-content>
