<ion-content [fullscreen]="true" class="main-page">
  <audio id="background-music" autoplay>
    <source src = "assets\audio\background.mp3" type="audio/mpeg">
  </audio>
  <section class="level-container">
    <div class="level-slider-container">
      <div class="level">
        <img
          routerLink="/level-1"
          id="slide-1"
          src="../../assets/AlgebraQuest_Asset/level 1 card (1).png"
          alt="level 1 card"
          (click) ="playButton()"
        />
        <img
          routerLink="/level-2"
          id="slide-2"
          src="../../assets/AlgebraQuest_Asset/level 2 card (1).png"
          alt="level 2 card"
          (click) ="playButton()"
        />
        <img
          routerLink="/level-3"
          id="slide-3"
          src="../../assets/AlgebraQuest_Asset/LEVEL 3 CARD (1).png"
          alt="level 3 card"
          (click) ="playButton()"
        />
        <div id="filler"></div>
      </div>
    </div>
  </section>
  <section class="HomePage-button-container">
    <div class="button-container">
      <!-- Add routerLink to navigate to Level 1 -->
      <button id="button-1" routerLink="/level-1" (click) ="playButton()">Play</button>
      <button id="button-2" routerLink="/settings" (click) ="playButton()">Settings</button>
    </div>
  </section>
</ion-content>
