@font-face {
  font-family: "Game-Over";
  src: url("../../assets/font/game_over_2/Game\ Over.otf");
}

@font-face {
  font-family: "Good-Game";
  src: url("../../assets/font/good_game/Good-Game.ttf");
}

.main-page {
  --background: url("../../assets/AlgebraQuest_Asset/2nd\ page\ bg.png") 0 0/ 100% 100% no-repeat;
  //background-position: 0 0;
  //background-size: 100% 100%;
  //background-repeat: no-repeat;
}

.level-container {
  margin-top: 50%;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.level-slider-container {
  position: relative;
  max-width: 50rem;
}

.level {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1.5rem;
}

.HomePage-button-container {
  margin-top: 20%;
}

.button-container {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button-1,
#button-2 {
  display: block;
  width: 58%;
  height: 8vh;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  border-radius: 25px; 
  border: none;
  font-family: "Good-Game";
}

#button-1 {
  background: linear-gradient(#40AFDE, #59afd4, #c7d0d5);
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 3px #5e5c5c;
}

#button-2 {
  background: linear-gradient(#DB2727, #e32f4d, #db9f9f);
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 3px #5e5c5c;
}

#filler{
  width: 2px;
  height: 2px;
}