<ion-content [fullscreen]="true" class="main-page">
  <section class="level-container">
    <div class="level-slider-container">
      <div class="level">
        <img
          routerLink="/level-1"
          id="slide-1"
          src="../../assets/AlgebraQuest_Asset/level 1 card (1).png"
          alt="level 1 card"
          (click)="playButton(); unlockCard(0)"
        />
        <img
          routerLink="/level-2"
          id="slide-2"
          src="../../assets/AlgebraQuest_Asset/level 2 card (1).png"
          alt="level 2 card"
          (click)="playButton(); unlockCard(1)"
          [class.disabled]="isCardDisabled(1)"
        />
        <img
          routerLink="/level-3"
          id="slide-3"
          src="../../assets/AlgebraQuest_Asset/LEVEL 3 CARD (1).png"
          alt="level 3 card"
          (click)="playButton(); unlockCard(2)"
          [class.disabled]="isCardDisabled(2)"
        />
        <div id="filler"></div>
      </div>
    </div>
  </section>
  <section class="HomePage-button-container">
    <div class="button-container">
      <button id="button-1" routerLink="/level-1" (click)="playButton()">Play</button>
      <button id="button-2" routerLink="/settings" (click)="playButton()">Settings</button>
      <button id="button-3" routerLink="/tutorialpage" (click)="playButton()">Tutorial</button>
    </div>
  </section>
</ion-content>
