<ion-content [fullscreen]="true" class="level3-question7">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-3"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 3-7</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question-title">Question</p>
      <br />
      <p class="button" id="question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block"> r<sup>3</sup> - 1 </span>
          <span style="display: block"> r + 1 </span>
        </span>
        <span id="arithmetic-operation"> + </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block"> r<sup>2</sup> - 1 </span>
          <span style="display: block"> r </span>
        </span>
      </p>
    </div>
    <div class="button" id="answer1-cont">
      <p class="button" id="question-title">Factor Out</p>
      <p class="button" id="question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            (<input class="blanks" [(ngModel)]="ans1" type="text" /> +
            <input class="blanks" [(ngModel)]="ans2" type="text" />)(<input
              class="blanks"
              [(ngModel)]="ans3"
              type="text"
            /><sup>2</sup> - <input class="blanks" [(ngModel)]="ans4" type="text" /> +
            <input class="blanks" [(ngModel)]="ans5" type="text" />)
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans6" type="text" /> +
            <input class="blanks" [(ngModel)]="ans7" type="text" />
          </span>
        </span>
        <span id="arithmetic-operation"> + </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            <input class="blanks" [(ngModel)]="ans8" type="text" /><sup>2</sup>
            -
            <input class="blanks" [(ngModel)]="ans9" type="text" />
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans10" type="text" />
          </span>
        </span>
      </p>
    </div>

    <div class="button" id="answer2-cont">
      <p class="button" id="question-title">Simplify</p>
      <p class="button" id="question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            <input class="blanks" [(ngModel)]="ans11" type="text" /><sup>2</sup> -
            <input class="blanks" [(ngModel)]="ans12" type="text" /> +
            <input class="blanks" [(ngModel)]="ans13" type="text" />
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans14" type="text" />
          </span>
        </span>
        <span id="arithmetic-operation"> + </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            <input class="blanks" [(ngModel)]="ans15" type="text" /><sup>2</sup>
            -
            <input class="blanks" [(ngModel)]="ans16" type="text" />
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans17" type="text" />
          </span>
        </span>
      </p>
    </div>

    <div class="button" id="answer3-cont">
      <p class="button" id="question-title">Guess the LCD</p>
      <input class="button" id="lcd1" [(ngModel)]="lcd1" type="text" />
    </div>

    <div class="button" id="answer4-cont">
      <p class="button" id="question-title">Rewrite</p>
      <p class="button" id="question">
        <span style="font-size: 2rem; font-family: Arial; margin-right: 3px">(</span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            (<input class="blanks" [(ngModel)]="ans18" type="text" /><sup>2</sup> -
            <input class="blanks" [(ngModel)]="ans19" type="text" /> +
            <input class="blanks" [(ngModel)]="ans20" type="text" />)
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans21" type="text" />
          </span>
        </span>
        <span id="arithmetic-operation"> + </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            <input class="blanks" [(ngModel)]="ans22" type="text" /><sup>2</sup>
            -
            <input class="blanks" [(ngModel)]="ans23" type="text" />
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans24" type="text" />
          </span>
        </span>
        <span style="font-size: 2rem; font-family: Arial; margin-left: 3px">)</span>
        <span>(<input class="blanks" [(ngModel)]="ans25" type="text" />)</span>
      </p>
    </div>

    <div class="button" id="answer5-cont">
      <p class="button" id="question-title">Distribute</p>
      <p class="button" id="question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            (<input class="blanks" [(ngModel)]="ans26" type="text" />)(<input
              class="blanks"
              [(ngModel)]="ans27"
              type="text"
            /><sup>2</sup> - <input class="blanks" [(ngModel)]="ans28" type="text" /> +
            <input class="blanks" [(ngModel)]="ans29" type="text" />)
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans30" type="text" />
          </span>
        </span>
        <span id="arithmetic-operation"> + </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            <input class="blanks" [(ngModel)]="ans31" type="text" /><sup>2</sup>
            -
            <input class="blanks" [(ngModel)]="ans32" type="text" />
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans33" type="text" />
          </span>
        </span>
      </p>
    </div>

    <div class="button" id="answer6-cont">
      <p class="button" id="question-title">Add</p>
      <p class="button" id="question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            <input class="blanks" [(ngModel)]="ans34" type="text" /><sup>3</sup> -
            <input class="blanks" [(ngModel)]="ans35" type="text" /><sup>2</sup>
            +
            <input class="blanks" [(ngModel)]="ans36" type="text" />
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans37" type="text" />
          </span>
        </span>
        <span id="arithmetic-operation"> + </span>
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            <input class="blanks" [(ngModel)]="ans38" type="text" /><sup>2</sup>
            -
            <input class="blanks" [(ngModel)]="ans39" type="text" />
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans40" type="text" />
          </span>
        </span>
      </p>
    </div>

    <div class="button" id="answer7-cont">
      <p class="button" id="question-title">Combine Like Terms</p>
      <p class="button" id="question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            <input class="blanks" [(ngModel)]="ans41" type="text" /><sup>3</sup> -
            <input class="blanks" [(ngModel)]="ans42" type="text" /><sup>2</sup> +
            <input class="blanks" [(ngModel)]="ans43" type="text" /> +
            <input class="blanks" [(ngModel)]="ans44" type="text" /><sup>2</sup>
            -
            <input class="blanks" [(ngModel)]="ans45" type="text" />
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans46" type="text" />
          </span>
        </span>
      </p>
    </div>

    <div class="button" id="answer9-cont">
      <p class="button" id="question-title">Answer</p>
      <p class="button" id="question">
        <span style="display: inline-block; text-align: center">
          <span style="border-bottom: 3px solid white; display: block">
            <input class="blanks" [(ngModel)]="ans47" type="text" /><sup>3</sup> +
            <input class="blanks" [(ngModel)]="ans48" type="text" /> -
            <input class="blanks" [(ngModel)]="ans49" type="text" />
          </span>
          <span style="display: block">
            <input class="blanks" [(ngModel)]="ans50" type="text" />
          </span>
        </span>
      </p>
    </div>

    <p class="button" id="verify" (click)="checkAnswers()" (click)="playButton()">Check Answers</p>
    <div class="button" id="filler"></div>
  </div>
</ion-content>
