<ion-content [fullscreen]="true" class="level3-question7">
  <div class="content-container">
    <img
      class="button"
      id="back-button"
      routerLink="/level-3"
      src="../../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <p class="button" id="title">Level 3-7</p>
    <div class="button" id="question-cont">
      <!--fraction-->
      <p class="button" id="question">Question</p>
      <br />
      <p class="button" id="sub-question">
        <span>
          When subtracting two rational expressions with like denominators, what happens to the
          signs of the terms to the subtrahend?
        </span>
      </p>
    </div>

    <button
      class="button"
      id="choice-1"
      [ngClass]="getClass('choice-1')"
      (click)="selectAnswer('choice-1')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        A. The subtrahend remains itself
      </span>
    </button>

    <button
      class="button"
      id="choice-2"
      [ngClass]="getClass('choice-2')"
      (click)="selectAnswer('choice-2')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        B. The subtrahend becomes a minuend
      </span>
    </button>

    <button
      class="button"
      id="choice-3"
      [ngClass]="getClass('choice-3')"
      (click)="selectAnswer('choice-3')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        C. Each sign in every term in the subtrahend will be changed
      </span>
    </button>

    <button
      class="button"
      id="choice-4"
      [ngClass]="getClass('choice-4')"
      (click)="selectAnswer('choice-4')"
      (click)="choose_button()"
    >
      <span style="display: inline-block; text-align: center">
        D. The first term will change its sign
      </span>
    </button>

    <button class="button" id="submit" (click)="submitAnswer()">Submit</button>
  </div>
</ion-content>
