@font-face {
  font-family: "Game-Over";
  src: url("../../../assets/font/game_over_2/Game\ Over.otf");
}

@font-face {
  font-family: "Good-Game";
  src: url("../../../assets/font/good_game/Good-Game.ttf");
}

.level3-question8{
  --background: url("../../../assets/AlgebraQuest_Asset/lvl3-question-bg.png") 0 0/ 100% 100% no-repeat;
}

.content-container{ 
  position: relative;
  width: 100vw; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#title {
  font-family: "Good-Game";
  font-size: 4rem;
  top: 8%;
  padding: 0;
  margin: 0;
  -webkit-text-stroke: 2px #000000;
}

#back-button {
  top: 2%;
  left: 2%;
}

#question-cont{
  width: 90%;
  height: 120px;
  background: linear-gradient( #6ba1b8, #40AFDE, #40AFDE);
  top: 22%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#question-title{
  top:5%;
  color:#51DD4E;
  margin: 0;
  font-family: "Good-Game";
  font-size: 2rem;
  -webkit-text-stroke: 1px #000000;
}

#question{
  top:40%;
  margin: 0;
  font-family: "Good-Game";
  font-size: 1.8rem;
  -webkit-text-stroke: 1px #000000;
}

#arithmetic-operation{
  padding: 0px 4px 0px 4px;
  font-size: 2rem;
  color:#51DD4E;
}

#answer1-cont, #answer2-cont, 
#answer3-cont,#answer4-cont,
#answer5-cont, #answer6-cont{
  background: linear-gradient( #6ba1b8, #40AFDE, #40AFDE);
}

#answer1-cont{
  width: 90%;
  height: 120px;
  background: linear-gradient( #6ba1b8, #40AFDE, #40AFDE);
  top: 42%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#answer2-cont{
  width: 90%;
  height: 120px;
  background: linear-gradient( #6ba1b8, #40AFDE, #40AFDE);
  top: 62%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#answer3-cont{
  width:90%;
  height: 120px;
  background: linear-gradient( #6ba1b8, #40AFDE, #40AFDE);
  top: 82%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#answer4-cont{
  width: 90%;
  height: 120px;
  background: linear-gradient( #6ba1b8, #40AFDE, #40AFDE);
  top: 102%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#answer5-cont{
  width: 90%;
  height: 120px;
  background: linear-gradient( #6ba1b8, #40AFDE, #40AFDE);
  top: 122%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#answer6-cont{
  width: 90%;
  height: 120px;
  background: linear-gradient( #6ba1b8, #40AFDE, #40AFDE);
  top: 142%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#answer7-cont{
  width: 90%;
  height: 120px;
  background: linear-gradient( #6ba1b8, #40AFDE, #40AFDE);
  top: 162%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#answer8-cont{
  width: 90%;
  height: 120px;
  background: linear-gradient( #6ba1b8, #40AFDE, #40AFDE);
  top: 182%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#answer9-cont{
  width: 90%;
  height: 120px;
  background: linear-gradient( #6ba1b8, #40AFDE, #40AFDE);
  top: 202%;
  border-radius: 10px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#verify{
  top:222%;
  width: 40%;
  height: 45px;
  background:linear-gradient(#68e166, #45d143, #51DD4E);
  border-radius: 15px;
  box-shadow: 2px 4px 3px #363535;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Good-Game";
  font-size: 1.4rem;
  -webkit-text-stroke: 1px #000000;
}

#filler{
  top:232%;
  width: 40%;
  height: 45px;
}

#lcd-cont{
  top:15%;
  font-family: "Good-Game";
  font-size: 1.8rem;
}

#lcd-cont > input{
  width: 30px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
}

#answer1-cont > #question{
  font-size: 1.4rem;
}
#answer4-cont > #question, 
#answer5-cont > #question{
  font-size: 1.3rem;
} 

#answer6-cont > #question{
  font-size: 1.2rem;
}

#ans35, #ans36, #ans37, #ans38, #ans39, #ans40, #ans41, #ans42, #ans43, #ans44, #ans45 {
  width: 15px;
  height: 25px;
  border-radius: 5px;
  border: #00000060 2px solid; 
  background: #363535;
  text-align: center;
}

.blanks{
  width: 18px;
  height: 25px;
  border-radius: 5px;
  border: #00000060 2px solid; 
  background: #363535;
  text-align: center;
}
