/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

//Imported fonts
@font-face {
  font-family: "Game-Over";
  src: url("../../Client1_AlgebraQuest/src/assets/font/game_over_2/Game\ Over.otf");
}

@font-face {
  font-family: "Good-Game";
  src: url("../../Client1_AlgebraQuest/src/assets/font/good_game/Good-Game.ttf");
}
//Alert
/* In question2-1.page.scss or global styles.scss */

.custom-alert .alert-wrapper {
  background: linear-gradient(#68e166, #45d143, #51DD4E) !important; /* Change background color */
  color: white !important; /* Change text color */
}

.custom-alert .alert-title {
  font-family: ''Arial', sans-serif' !important; /* Set your font choice */
  font-size: 24px !important; /* Set your font size */
}

.custom-alert .alert-message {
  font-family: 'Verdana', sans-serif !important; /* Set your font choice */
  font-size: 18px !important; /* Set your font size */
}

.custom-alert .alert-button {
  color: yellow !important; /* Change button text color */
  font-size: 16px !important; /* Change button font size */
}
