@font-face {
  font-family: "Game-Over";
  src: url("../../assets/font/game_over_2/Game\ Over.otf");
}

@font-face {
  font-family: "Good-Game";
  src: url("../../assets/font/good_game/Good-Game.ttf");
}

.page {
  --background: url("../../assets/AlgebraQuest_Asset/MAIN\ UI.png") 0 0/ 100% 100% no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;

}

.page-content {
  max-width: 100%;
  max-height: 100%;
}
 
.page-start-button {
  height: 100%;
  margin-top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-button {
  font-family: "Good-Game";
  font-size: 4rem;
  width: 65%;
  height: 9%;
  color: #ffffff;
  border-radius: 20px;
  background: linear-gradient(#F2C934, #F2C934, #FCFDFC);
  text-shadow: 2px 2px 4px #252529;
  box-shadow: 2px 2px 4px #3a3a3b;
}