<ion-content class="level1-page">
  <div class="button-container">
    <!-- Back and Tutorial Buttons -->
     <p id="title">Level 1</p>
    <img 
      class="button"
      id="back-button"
      routerLink="/landing-page"
      src="../../assets/AlgebraQuest_Asset/back btn (1).png"
      (click)="playButton()"
    />
    <img
      class="button"
      id="tutorial-button"
      routerLink="/tutorial1"
      (click)="playButton(); revisitTutorial()"
      
      src="../../assets/AlgebraQuest_Asset/Group 132.png"
    />
    
    <!-- Level Buttons -->
    <ng-container *ngFor="let imageSrc of currentImageSrcs; let i = index">
      <button
        class="button"
        [id]="'button' + (i + 1)"
        [routerLink]="buttonStates[i] ? '/question' + (i + 1) : null"
        [disabled]="!buttonStates[i]"
        (click)="buttonStates[i] && playButton(); changeImage($event, i + 1)"
      >
        <img [src]="currentImageSrcs[i]" [class.disabled]="!buttonStates[i]" />
      </button>
    </ng-container>
    
  </div>
</ion-content>
