<ion-content [fullscreen]="true" class="level1-page">
  <div class="button-container">
    <img
      class="button"
      id="back-button"
      routerLink="/landing-page"
      src="../../assets/AlgebraQuest_Asset/back btn (1).png"
    />
    <p class="button" id="title">Level 1</p>
    <img
      routerLink="/question1"
      class="button"
      id="button1"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl1-buttons/Group 49 (1).png"
    />
    <img
      routerLink="/question2"
      class="button"
      id="button2"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl1-buttons/Group 50 (1).png"
    />
    <img
      routerLink="/question3"
      class="button"
      id="button3"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl1-buttons/Group 51 (1).png"
    />
    <img
      routerLink="/question4"
      class="button"
      id="button4"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl1-buttons/Group 52 (1).png"
    />
    <img
      routerLink="/question5"
      class="button"
      id="button5"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl1-buttons/Group 53 (1).png"
    />
    <img
      routerLink="/question6"
      class="button"
      id="button6"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl1-buttons/Group 54 (1).png"
    />
    <img
      routerLink="/question7"
      class="button"
      id="button7"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl1-buttons/Group 55 (1).png"
    />
    <img
      routerLink="/question8"
      class="button"
      id="button8"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl1-buttons/Group 56 (1).png"
    />
    <img
      routerLink="/question9"
      class="button"
      id="button9"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl1-buttons/Group 57 (1).png"
    />
    <img
      routerLink="/question10"
      class="button"
      id="button10"
      src="../../assets/AlgebraQuest_Asset/lvl-buttons/lvl1-buttons/Group 58 (1).png"
    />
  </div>
</ion-content>
