.settings-page {
  --background: url("../../assets/AlgebraQuest_Asset/2nd\ page\ bg.png") 0 0/ 100% 100% no-repeat;
  //background-position: 0 0;
  //background-size: 100% 100%;
  //background-repeat: no-repeat;
}

.settings-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#back-button {
  top: 2%;
  left: 2%;
}

div > p{
  font-family: "Good-Game";
  font-size: 2rem;
}

#music{
  top:30%;
}

#title-music{
  top:22%;
  -webkit-text-stroke: 1.5px #000000;
}

#brightness{
  top:45%;
}

#title-brightness{
  top:37%;
  -webkit-text-stroke: 1.5px #000000;
}

#info{
  top:62%;
}

#policy{
  top:68%;
}
